<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lista de productos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' th:href="@{/cssFiles/formCss.css}">
</head>
<body>
    
<header>
  <nav th:replace = "/fragment/navbar::navegador"></nav>
</header>
     <div class="col-lg-8 mx-auto p-3 py-md-5">
	      	<table id = "tabla">
	      		<tr>
					<th>ID:</th>
					<th>Nombre:</th>
					<th>Precio:</th>
					<th>Stock:</th>
				</tr>
				<tr th:each = "productos:${listaProductos}">
					<td th:text = "${productos.id}"></td>
					<td th:text = "${productos.nombre}"></td>
					<td th:text = "${productos.precio}"></td>
					<td th:text = "${productos.stock}"></td>
					<td><a th:href ="@{/productos/editar/}+${productos.id}">Editar</a></td>
					<td><a th:if ="${session.id_rolUsuario == 3}" th:href="@{/productos/eliminar/}+${productos.id}">Eliminar</a></td>
				</tr>
				<tr>
					<td><a th:href="@{/productos/crear}">Nuevo Producto</a></td>
				</tr>
			</table>
		
		
      </div>
  
    <footer th:replace = "/fragment/footer ::piePagina"></footer>
    
</body>    
</html>